<!--Footer-->
<footer class="page-footer text-center font-small mt-4 wow fadeIn">

    <!--Call to action-->
    <div class="pt-4">

    </div>
    <!--/.Call to action-->

    <hr class="my-4">

    <!-- Social icons -->
    <div class="pb-4">
        <a href="https://www.facebook.com/Anthropologie" target="_blank">
            <i class="fab fa-facebook-f mr-3"></i>
        </a>

        <a href="https://twitter.com/anthropologie" target="_blank">
            <i class="fab fa-twitter mr-3"></i>
        </a>

        <a href="https://pinterest.com/anthropologie" target="_blank">
            <i class="fab fa-pinterest mr-3"></i>
        </a>

        <a href="https://pinterest.com/anthropologie" target="_blank">
            <i class="fab fa-lg fa-instagram"></i>
        </a>

    </div>
    <!-- Social icons -->

    <!--Copyright-->
    <div class="footer-copyright py-3">
        © 2020 All Rights Reserved
    </div>
    <!--/.Copyright-->

</footer>
<!--/.Footer-->